#search{
    color: white;
    border-color: white;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: blue;
}

#country{
    border-color: white;
    border-radius: 5px;
    padding: 10px 15px;
}

#content {
    margin: auto;
    width: 50%;
    padding: 25px;
    margin-top: 25px;
    border-radius: 10px;
    background-color: #E0E0E0;
}
